@model IEnumerable<Filmera.Models.Pelicula>

﻿@{
    ViewData["Title"] = "Películas registradas";
    var msg = TempData["Mensaje"] as string;
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(msg))
{
    <div class="alert alert-info" role="alert">
        @msg
    </div>
}

<form asp-action="BuscarMov" method="post" class="row g-2">
    <div class="col-9">
        <input id="titulo" name="titulo" type="text" class="form-control" placeholder="Nombre de la película" />
    </div>
    <div class="col-3 d-grid">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>Buscar</button>
    </div>

    <a class="btn btn-primary" asp-controller="Peliculas" asp-action="Index">
        <i class="bi bi-person-plus me-2"></i>Mostrar todas
    </a>
</form>

<p>
    <a class="btn btn-primary" asp-controller="Peliculas" asp-action="Create">
        <i class="bi bi-person-plus me-2"></i>Añadir Pelicula
    </a>
</p>

@if (!Model.Any())
{
    <p>No hay películas registradas aun</p>
}
else
{
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Codigo Pelicula</th>
                <th>Titulo</th>
                <th>Sinopsis</th>
                <th>Director</th>
                <th>Genero</th>
                <th>Duracion (minutos)</th>
                <th>Calificacion (0 - 100)</th>
                <th>Lanzamiento (año)</th>
                <th>Publico</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.IdPelicula</td>
                    <td>@p.Titulo</td>
                    <td>@p.Sinopsis</td>
                    <td>@p.Director</td>
                    <td>@p.Genero</td>
                    <td>@p.Duracion</td>
                    <td>@p.Calificacion</td>
                    <td>@p.Lanzamiento</td>
                    <td>@p.Publico</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <hr />
    <br />

    // Formulario para editar la información de una película
    <h5 class="card-title">Actualizar película</h5>
    <form asp-action="Edit" method="get" class="row g-2">
        <div class="col-8">
            <input id="EditarPelicula" name="IdPelicula" type="text" class="form-control" placeholder="Código identificador de película" />
        </div>
        <div class="col-4 d-grid">
            <button type="submit" class="btn btn-outline-warning"><i class="bi bi-pencil me-2"></i>Actualizar</button>
        </div>
    </form>

    <br />
    <hr />
    <br />

    // Eliminar película
    <h5 class="card-title">Eliminar película</h5>
    <form asp-action="Delete" method="post" class="row g-2">
        <div class="col-8">
            <input id="EliminarMov" name="IdPelicula" type="text" class="form-control" placeholder="Código identificador de película" />
        </div>
        <div class="col-4 d-grid">
            <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash-fill me-2"></i>Eliminar</button>
        </div>
    </form>

    <br />
    <hr />
    <br />

    // Consultas Linq
    <h5 class="card-title">Filtros</h5>

    <div class="row g-2 mb-3">
        <form asp-action="FiltroGenero" method="post" class="col-md-6 d-flex">
            <select name="genero" class="form-select me-2">
                <option value="">Seleccione...</option>
                <option value="Acción">Acción</option>
                <option value="Terror">Terror</option>
                <option value="Romance">Romance</option>
                <option value="Suspenso">Suspenso</option>
                <option value="Comedia">Comedia</option>
                <option value="Fantasía">Fantasía</option>
                <option value="Animación">Animación</option>
                <option value="Drama">Drama</option>
            </select>
            <button type="submit" class="btn btn-secondary">Filtrar por género</button>
        </form>

        <form asp-action="FiltroClasificacion" method="post" class="col-md-6 d-flex">
            <select name="publico" class="form-select me-2">
                <option value="">Seleccione...</option>
                <option value="G">G (Todo público)</option>
                <option value="PG">PG (Supervisión de padres recomendada)</option>
                <option value="PG-13">PG-13 (No apta para menores de 13)</option>
                <option value="R">R (Restringida, menores requieren adulto)</option>
                <option value="NC-17">NC-17 (Solo adultos)</option>
            </select>
            <button type="submit" class="btn btn-secondary">Filtrar por público</button>
        </form>
    </div>

    <h5 class="card-title">Orden</h5>

    <div class="col-md-6 d-flex align-items-center">
        <a class="btn btn-secondary w-100" asp-action="OrderTitulo"><i class="bi bi-sort-alpha-down me-2"></i>Alfabético</a>
    </div>

    <div class="col-md-6 d-flex align-items-center">
        <a class="btn btn-secondary w-100" asp-action="OrderFecha"><i class="bi bi-sort-alpha-down me-2"></i>Más recientes</a>
    </div>

    <div class="col-md-6 d-flex align-items-center">
        <a class="btn btn-secondary w-100" asp-action="OrderRating"><i class="bi bi-sort-alpha-down me-2"></i>Mejor valoradas</a>
    </div>
}